<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="refresh" content="120">
    <title>AttackTags - Everything you need to know about security.</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/1-col-portfolio.css" rel="stylesheet">
    <link href="css/test.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	<script>

	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-58198520-1', 'auto');
	  ga('send', 'pageview');
	
	</script>
	
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">AttackTags</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="#hottags">Hot</a>
                    </li>
                    <li>
                        <a href="#news" >News</a>
                    </li>
                    <li>
                        <a href="#vulns">Vulns</a>
                    </li>
                    <li>
                        <a href="#Events">Events</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header">AttackTags 
                    <medium>- Real time threat intelligence</medium>
                </h4>                
            </div>
        </div>
    </div>
    <!-- /.container -->

    <!-- Page Content -->
    <div class="container titlepadding" id="breakouts">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header">Hot
                    <small>- Most popular Hashtags</small>
                </h4>
            </div>
        </div>
        <!-- /.row -->
	<% for (var i = 0; i < hashtagsWithTweets.length; ++i) {%>
	<%     var shouldRender = false; %>
	<%     for (var index = 0; !shouldRender && index < hashtagsWithTweets[i].tweets.length; ++index) {%>
	<%         if (hashtagsWithTweets[i].tweets[index] && hashtagsWithTweets[i].tweets[index][0]) {%>
	<%             shouldRender = true;%>
	<%         }%>
	<%     }%>
	<%     if (shouldRender) {%>
        <!-- one hashtag -->
        <div class="row">
            <div class="col-md-2">
                <a href="#">
                  <!--5
                    <img class="img-responsive" src="http://placehold.it/120x120" alt="">
                  -->
                  <h4>#<%=hashtagsWithTweets[i].hashtag%></h4>
                </a>
            </div>
            <div class="col-md-9">
		<% hashtagsWithTweets[i].tweets.forEach(function print(tweet) { %>
		<%     if (tweet && tweet[0]) { %>
                <p class="col-md-9"><%=tweet[0].text%></p>
                <a class="btn btn-xs btn-primary pull-right" href="<%=tweet[0].link%>">View 
			<span class="glyphicon glyphicon-chevron-right">
			</span>
		</a>
		<%     }%>
                <% }) %>
            </div>
        </div>
	<%    }%>
	<% }%>
        <!-- /.row -->
        <hr>
    </div>
    <!-- /.container -->

    <!-- Page Content -->
    <div class="container titlepadding" id="news">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header">News 
                    <small>- General Security News</small>
                </h4>
            </div>
        </div>
        <!-- /.row -->

        <!-- /.row -->

        <% for (var i = 0; i < tweetsWithImg.tweetsWithUrl.length && i < n; ++i) {%>
        <div class="row">
            <div class="col-md-2">
                <a href="<%=tweetsWithImg.tweetsWithUrl[i].link%>" target="_blank">
                    <img height="120" width="120" class="img-responsive" src="<%=tweetsWithImg.imgList[i].unescapedUrl%>" alt="">
                </a>
            </div>
            <div class="col-md-9">
                <h4><%=tweetsWithImg.tweetsWithUrl[i].text%></h4>
                <a class="btn btn-primary" href="<%=tweetsWithImg.tweetsWithUrl[i].link%>" target="_blank">
                    View News<span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
        <!-- /.row -->

        <hr>
        
        <% } %>

        <hr>
    </div>
    <!-- /.container -->

    <!-- Page Content -->
    <div class="container titlepadding" id="vulns">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header">Vulnerabilities 
                    <small>- Recently Published Vulnerabilities</small>
                </h4>
            </div>
        </div>
        <!-- /.row -->

        <% for (var i = 3; i < tweetsWithImg.tweetsWithUrl.length && i < n; ++i) {%>
        <div class="row">
            <div class="col-md-2">
                <a href="<%=tweetsWithImg.tweetsWithUrl[i].link%>" target="_blank">
                    <img height="120" width="120" class="img-responsive" src="<%=tweetsWithImg.imgList[i].unescapedUrl%>" alt="">
                </a>
            </div>
            <div class="col-md-9">
                <h4><%=tweetsWithImg.tweetsWithUrl[i].text%></h4>
                <a class="btn btn-primary" href="<%=tweetsWithImg.tweetsWithUrl[i].link%>" target="_blank">
                    View News<span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
        <!-- /.row -->

        <hr>
        
        <% } %>

        <hr>
    </div>
    <!-- /.container -->

    <!-- Page Content -->
    <div class="container titlepadding" id="Events">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header">Events 
                    <small>- Recent Events/Conferences/Meetups/Trainings</small>
                </h4>
            </div>
        </div>
        <!-- /.row -->

        <% for (var i = 0; i < tweetsWithImg.tweetsWithUrl.length && i < n; ++i) {%>
        <div class="row">
            <div class="col-md-2">
                <a href="<%=tweetsWithImg.tweetsWithUrl[i].link%>" target="_blank">
                    <img height="120" width="120" class="img-responsive" src="<%=tweetsWithImg.imgList[i].unescapedUrl%>" alt="">
                </a>
            </div>
            <div class="col-md-9">
                <h4><%=tweetsWithImg.tweetsWithUrl[i].text%></h4>
                <a class="btn btn-primary" href="<%=tweetsWithImg.tweetsWithUrl[i].link%>" target="_blank">
                    View News<span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
        <!-- /.row -->

        <hr>
        
        <% } %>

        <hr>
    </div>
    <!-- /.container -->

    <!-- Page Content -->
    <div class="container">
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; AttackTags.com 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
