<!DOCTYPE html>
<html>
  <head>
    <title><%=n%> things you may want to know about cybersecurity</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta http-equiv="refresh" content="60">    
  </head>
  <body>
    <h2><%=n%> Things You May Want To Know About Cybersecurity</h2>
    <p><h4>Click to open</h4></p>
    <table border="0" style="width:75%" cellpadding="10">
    <tbody border="1">
        <% for(var i = 0; i < tweetsWithUrl.length && i < n && i < imgList.length; ++i) {%>
        <tr>
            <td>
            <a href="<%=tweetsWithUrl[i].link%>" target="_blank">
            <img width="100%" src="<%=imgList[i].unescapedUrl%>"></img>
            </a>            
            </td>
            <td><a href="<%=tweetsWithUrl[i].link%>" target="_blank"><b>
            <h1><%=tweetsWithUrl[i].text%></h1></b></a></td>
        </tr>
        <tr>
            <td colspan="2" height="50"><hr noshade size=3></td>
        </tr>        
        <% } %>
    </tbody>       
    </table>
  </body>
</html>
